USE [ManagementBusiness]
GO
/****** Object:  Table [dbo].[CategoriasProductos]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasProductos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[CategoriaPadreId] [int] NULL,
	[Imagen] [nvarchar](500) NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoCliente] [nvarchar](20) NOT NULL,
	[TipoCliente] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[ApellidoPaterno] [nvarchar](100) NULL,
	[ApellidoMaterno] [nvarchar](100) NULL,
	[RazonSocial] [nvarchar](200) NULL,
	[RFC] [nvarchar](13) NULL,
	[CURP] [nvarchar](18) NULL,
	[FechaNacimiento] [date] NULL,
	[Genero] [nvarchar](10) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NOT NULL,
	[TelefonoMovil] [nvarchar](20) NULL,
	[Direccion] [nvarchar](500) NOT NULL,
	[CodigoPostal] [nvarchar](10) NOT NULL,
	[Ciudad] [nvarchar](100) NOT NULL,
	[Estado] [nvarchar](100) NOT NULL,
	[Pais] [nvarchar](100) NOT NULL,
	[VendedorId] [int] NULL,
	[LimiteCredito] [decimal](18, 2) NULL,
	[CondicionesPago] [nvarchar](50) NULL,
	[DiasCredito] [int] NULL,
	[EsActivo] [bit] NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
	[Notas] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CodigoCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroCompra] [nvarchar](50) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[NumeroFactura] [nvarchar](50) NOT NULL,
	[ProveedorId] [int] NOT NULL,
	[SucursalId] [int] NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[Descuento] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[FechaEntrega] [datetime2](7) NULL,
	[Notas] [nvarchar](1000) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NumeroCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfiguracionSistema]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracionSistema](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Clave] [nvarchar](100) NOT NULL,
	[Valor] [nvarchar](500) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaModificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[ResponsableId] [int] NULL,
	[Presupuesto] [decimal](18, 2) NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallesCompra]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesCompra](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompraId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[Descuento] [decimal](18, 2) NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallesFactura]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesFactura](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FacturaId] [int] NOT NULL,
	[ProductoId] [int] NULL,
	[ServicioId] [int] NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[Descuento] [decimal](18, 2) NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallesPedido]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesPedido](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PedidoId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[Descuento] [decimal](18, 2) NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroEmpleado] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[ApellidoPaterno] [nvarchar](100) NOT NULL,
	[ApellidoMaterno] [nvarchar](100) NULL,
	[FechaNacimiento] [date] NULL,
	[Genero] [nvarchar](10) NULL,
	[RFC] [nvarchar](13) NULL,
	[CURP] [nvarchar](18) NULL,
	[Direccion] [nvarchar](500) NULL,
	[CodigoPostal] [nvarchar](10) NULL,
	[Ciudad] [nvarchar](100) NULL,
	[Estado] [nvarchar](100) NULL,
	[Telefono] [nvarchar](20) NULL,
	[TelefonoMovil] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Puesto] [nvarchar](100) NOT NULL,
	[DepartamentoId] [int] NOT NULL,
	[SucursalId] [int] NOT NULL,
	[SupervisorId] [int] NULL,
	[FechaContratacion] [date] NOT NULL,
	[Salario] [decimal](18, 2) NULL,
	[EstadoLaboral] [nvarchar](20) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NumeroEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RazonSocial] [nvarchar](200) NOT NULL,
	[RFC] [nvarchar](13) NOT NULL,
	[DireccionFiscal] [nvarchar](500) NOT NULL,
	[CodigoPostal] [nvarchar](10) NOT NULL,
	[Ciudad] [nvarchar](100) NOT NULL,
	[Estado] [nvarchar](100) NOT NULL,
	[Pais] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SitioWeb] [nvarchar](200) NULL,
	[Logo] [nvarchar](500) NULL,
	[Moneda] [nvarchar](10) NOT NULL,
	[ZonaHoraria] [nvarchar](50) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RFC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroFactura] [nvarchar](50) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[ClienteId] [int] NOT NULL,
	[VentaId] [int] NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[Descuento] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[TotalConImpuestos] [decimal](18, 2) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[CondicionesPago] [nvarchar](50) NULL,
	[FechaVencimiento] [datetime2](7) NULL,
	[Moneda] [nvarchar](10) NOT NULL,
	[TipoCambio] [decimal](10, 4) NULL,
	[Notas] [nvarchar](1000) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NumeroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gastos]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gastos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroGasto] [nvarchar](50) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[Descripcion] [nvarchar](500) NOT NULL,
	[TipoGastoId] [int] NOT NULL,
	[DepartamentoId] [int] NULL,
	[ProveedorId] [int] NULL,
	[EmpleadoId] [int] NOT NULL,
	[SucursalId] [int] NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[Comprobante] [nvarchar](500) NULL,
	[Notas] [nvarchar](1000) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NumeroGasto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Impuestos]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impuestos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Porcentaje] [decimal](5, 2) NOT NULL,
	[Pais] [nvarchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodosPago]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodosPago](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientosInventario]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientosInventario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[ProductoId] [int] NOT NULL,
	[SucursalId] [int] NOT NULL,
	[Tipo] [nvarchar](20) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[CantidadAnterior] [int] NOT NULL,
	[CantidadNueva] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NULL,
	[Referencia] [nvarchar](100) NULL,
	[EmpleadoId] [int] NOT NULL,
	[Notas] [nvarchar](500) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroPago] [nvarchar](50) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[MetodoPagoId] [int] NOT NULL,
	[FacturaId] [int] NULL,
	[CompraId] [int] NULL,
	[GastoId] [int] NULL,
	[EmpleadoId] [int] NOT NULL,
	[Referencia] [nvarchar](100) NULL,
	[Notas] [nvarchar](500) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NumeroPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroPedido] [nvarchar](50) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[ClienteId] [int] NOT NULL,
	[PresupuestoId] [int] NULL,
	[SucursalId] [int] NOT NULL,
	[VendedorId] [int] NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[Descuento] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[FechaEntrega] [datetime2](7) NULL,
	[Notas] [nvarchar](1000) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NumeroPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Presupuestos]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Presupuestos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroPresupuesto] [nvarchar](50) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[ClienteId] [int] NOT NULL,
	[VendedorId] [int] NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[Descuento] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[FechaVencimiento] [datetime2](7) NULL,
	[Notas] [nvarchar](1000) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NumeroPresupuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoProducto] [nvarchar](50) NOT NULL,
	[SKU] [nvarchar](50) NOT NULL,
	[CodigoBarras] [nvarchar](50) NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Descripcion] [nvarchar](1000) NULL,
	[CategoriaId] [int] NOT NULL,
	[ImpuestoId] [int] NOT NULL,
	[ProveedorPrincipalId] [int] NULL,
	[UnidadMedida] [nvarchar](20) NOT NULL,
	[PrecioCosto] [decimal](18, 2) NOT NULL,
	[PrecioVenta] [decimal](18, 2) NOT NULL,
	[PrecioMayoreo] [decimal](18, 2) NULL,
	[StockMinimo] [int] NOT NULL,
	[StockActual] [int] NOT NULL,
	[Peso] [decimal](10, 3) NULL,
	[Alto] [decimal](10, 3) NULL,
	[Ancho] [decimal](10, 3) NULL,
	[Largo] [decimal](10, 3) NULL,
	[UbicacionAlmacen] [nvarchar](100) NULL,
	[FechaVencimiento] [date] NULL,
	[Garantia] [int] NULL,
	[Imagen] [nvarchar](500) NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CodigoProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoProveedor] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[RazonSocial] [nvarchar](200) NULL,
	[RFC] [nvarchar](13) NOT NULL,
	[ContactoPrincipal] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NOT NULL,
	[TelefonoMovil] [nvarchar](20) NULL,
	[Direccion] [nvarchar](500) NOT NULL,
	[CodigoPostal] [nvarchar](10) NOT NULL,
	[Ciudad] [nvarchar](100) NOT NULL,
	[Estado] [nvarchar](100) NOT NULL,
	[Pais] [nvarchar](100) NOT NULL,
	[SitioWeb] [nvarchar](200) NULL,
	[CuentaBancaria] [nvarchar](50) NULL,
	[CondicionesPago] [nvarchar](50) NULL,
	[PlazoEntrega] [int] NULL,
	[Calificacion] [decimal](3, 2) NULL,
	[Activo] [bit] NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
	[Notas] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CodigoProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportesMensuales]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportesMensuales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Mes] [int] NOT NULL,
	[Anio] [int] NOT NULL,
	[SucursalId] [int] NOT NULL,
	[TotalVentas] [decimal](18, 2) NOT NULL,
	[TotalCompras] [decimal](18, 2) NOT NULL,
	[TotalGastos] [decimal](18, 2) NOT NULL,
	[UtilidadBruta] [decimal](18, 2) NOT NULL,
	[UtilidadNeta] [decimal](18, 2) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoServicio] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Descripcion] [nvarchar](1000) NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[ImpuestoId] [int] NOT NULL,
	[DuracionEstimada] [int] NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CodigoServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sucursales]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Direccion] [nvarchar](500) NOT NULL,
	[CodigoPostal] [nvarchar](10) NOT NULL,
	[Ciudad] [nvarchar](100) NOT NULL,
	[Estado] [nvarchar](100) NOT NULL,
	[Pais] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[EsPrincipal] [bit] NOT NULL,
	[GerenteId] [int] NULL,
	[DepartamentoId] [int] NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposGasto]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposGasto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[DepartamentoId] [int] NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[Rol] [nvarchar](50) NOT NULL,
	[UltimoAcceso] [datetime2](7) NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaExpiracionPassword] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 8/30/2025 5:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroVenta] [nvarchar](50) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[PedidoId] [int] NOT NULL,
	[ClienteId] [int] NOT NULL,
	[VendedorId] [int] NOT NULL,
	[MetodoPagoId] [int] NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[Descuento] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[ComisionVendedor] [decimal](18, 2) NULL,
	[Notas] [nvarchar](1000) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NumeroVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CategoriasProductos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[CategoriasProductos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ('Persona Física') FOR [TipoCliente]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ('México') FOR [Pais]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((0)) FOR [LimiteCredito]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ('Contado') FOR [CondicionesPago]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((0)) FOR [DiasCredito]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[ConfiguracionSistema] ADD  DEFAULT ('Texto') FOR [Tipo]
GO
ALTER TABLE [dbo].[ConfiguracionSistema] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ConfiguracionSistema] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Departamentos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Departamentos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[DetallesCompra] ADD  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [dbo].[DetallesCompra] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[DetallesFactura] ADD  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [dbo].[DetallesFactura] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[DetallesPedido] ADD  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [dbo].[DetallesPedido] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT ('Activo') FOR [EstadoLaboral]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Empresa] ADD  DEFAULT ('México') FOR [Pais]
GO
ALTER TABLE [dbo].[Empresa] ADD  DEFAULT ('MXN') FOR [Moneda]
GO
ALTER TABLE [dbo].[Empresa] ADD  DEFAULT ('Central Standard Time') FOR [ZonaHoraria]
GO
ALTER TABLE [dbo].[Empresa] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Empresa] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ('MXN') FOR [Moneda]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((1)) FOR [TipoCambio]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Gastos] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Gastos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Impuestos] ADD  DEFAULT ('México') FOR [Pais]
GO
ALTER TABLE [dbo].[Impuestos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Impuestos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[MetodosPago] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[MetodosPago] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[MovimientosInventario] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Pagos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Presupuestos] ADD  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [dbo].[Presupuestos] ADD  DEFAULT ('Válido') FOR [Estado]
GO
ALTER TABLE [dbo].[Presupuestos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ('Pieza') FOR [UnidadMedida]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((5)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [StockActual]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT ('México') FOR [Pais]
GO
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT ('30 días') FOR [CondicionesPago]
GO
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT ((7)) FOR [PlazoEntrega]
GO
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[ReportesMensuales] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Sucursales] ADD  DEFAULT ('México') FOR [Pais]
GO
ALTER TABLE [dbo].[Sucursales] ADD  DEFAULT ((0)) FOR [EsPrincipal]
GO
ALTER TABLE [dbo].[Sucursales] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Sucursales] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[TiposGasto] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TiposGasto] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ('Completa') FOR [Estado]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[CategoriasProductos]  WITH CHECK ADD  CONSTRAINT [FK_CategoriasProductos_CategoriaPadre] FOREIGN KEY([CategoriaPadreId])
REFERENCES [dbo].[CategoriasProductos] ([Id])
GO
ALTER TABLE [dbo].[CategoriasProductos] CHECK CONSTRAINT [FK_CategoriasProductos_CategoriaPadre]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Vendedor] FOREIGN KEY([VendedorId])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Vendedor]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Empleado] FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Empleado]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Proveedor] FOREIGN KEY([ProveedorId])
REFERENCES [dbo].[Proveedores] ([Id])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Proveedor]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Sucursal] FOREIGN KEY([SucursalId])
REFERENCES [dbo].[Sucursales] ([Id])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Sucursal]
GO
ALTER TABLE [dbo].[Departamentos]  WITH CHECK ADD  CONSTRAINT [FK_Departamentos_Responsable] FOREIGN KEY([ResponsableId])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[Departamentos] CHECK CONSTRAINT [FK_Departamentos_Responsable]
GO
ALTER TABLE [dbo].[DetallesCompra]  WITH CHECK ADD  CONSTRAINT [FK_DetallesCompra_Compra] FOREIGN KEY([CompraId])
REFERENCES [dbo].[Compras] ([Id])
GO
ALTER TABLE [dbo].[DetallesCompra] CHECK CONSTRAINT [FK_DetallesCompra_Compra]
GO
ALTER TABLE [dbo].[DetallesCompra]  WITH CHECK ADD  CONSTRAINT [FK_DetallesCompra_Producto] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[DetallesCompra] CHECK CONSTRAINT [FK_DetallesCompra_Producto]
GO
ALTER TABLE [dbo].[DetallesFactura]  WITH CHECK ADD  CONSTRAINT [FK_DetallesFactura_Factura] FOREIGN KEY([FacturaId])
REFERENCES [dbo].[Facturas] ([Id])
GO
ALTER TABLE [dbo].[DetallesFactura] CHECK CONSTRAINT [FK_DetallesFactura_Factura]
GO
ALTER TABLE [dbo].[DetallesFactura]  WITH CHECK ADD  CONSTRAINT [FK_DetallesFactura_Producto] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[DetallesFactura] CHECK CONSTRAINT [FK_DetallesFactura_Producto]
GO
ALTER TABLE [dbo].[DetallesFactura]  WITH CHECK ADD  CONSTRAINT [FK_DetallesFactura_Servicio] FOREIGN KEY([ServicioId])
REFERENCES [dbo].[Servicios] ([Id])
GO
ALTER TABLE [dbo].[DetallesFactura] CHECK CONSTRAINT [FK_DetallesFactura_Servicio]
GO
ALTER TABLE [dbo].[DetallesPedido]  WITH CHECK ADD  CONSTRAINT [FK_DetallesPedido_Pedido] FOREIGN KEY([PedidoId])
REFERENCES [dbo].[Pedidos] ([Id])
GO
ALTER TABLE [dbo].[DetallesPedido] CHECK CONSTRAINT [FK_DetallesPedido_Pedido]
GO
ALTER TABLE [dbo].[DetallesPedido]  WITH CHECK ADD  CONSTRAINT [FK_DetallesPedido_Producto] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[DetallesPedido] CHECK CONSTRAINT [FK_DetallesPedido_Producto]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Departamento] FOREIGN KEY([DepartamentoId])
REFERENCES [dbo].[Departamentos] ([Id])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Departamento]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Sucursal] FOREIGN KEY([SucursalId])
REFERENCES [dbo].[Sucursales] ([Id])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Sucursal]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Supervisor] FOREIGN KEY([SupervisorId])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Supervisor]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Cliente] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Cliente]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Venta] FOREIGN KEY([VentaId])
REFERENCES [dbo].[Ventas] ([Id])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Venta]
GO
ALTER TABLE [dbo].[Gastos]  WITH CHECK ADD  CONSTRAINT [FK_Gastos_Departamento] FOREIGN KEY([DepartamentoId])
REFERENCES [dbo].[Departamentos] ([Id])
GO
ALTER TABLE [dbo].[Gastos] CHECK CONSTRAINT [FK_Gastos_Departamento]
GO
ALTER TABLE [dbo].[Gastos]  WITH CHECK ADD  CONSTRAINT [FK_Gastos_Empleado] FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[Gastos] CHECK CONSTRAINT [FK_Gastos_Empleado]
GO
ALTER TABLE [dbo].[Gastos]  WITH CHECK ADD  CONSTRAINT [FK_Gastos_Proveedor] FOREIGN KEY([ProveedorId])
REFERENCES [dbo].[Proveedores] ([Id])
GO
ALTER TABLE [dbo].[Gastos] CHECK CONSTRAINT [FK_Gastos_Proveedor]
GO
ALTER TABLE [dbo].[Gastos]  WITH CHECK ADD  CONSTRAINT [FK_Gastos_Sucursal] FOREIGN KEY([SucursalId])
REFERENCES [dbo].[Sucursales] ([Id])
GO
ALTER TABLE [dbo].[Gastos] CHECK CONSTRAINT [FK_Gastos_Sucursal]
GO
ALTER TABLE [dbo].[Gastos]  WITH CHECK ADD  CONSTRAINT [FK_Gastos_TipoGasto] FOREIGN KEY([TipoGastoId])
REFERENCES [dbo].[TiposGasto] ([Id])
GO
ALTER TABLE [dbo].[Gastos] CHECK CONSTRAINT [FK_Gastos_TipoGasto]
GO
ALTER TABLE [dbo].[MovimientosInventario]  WITH CHECK ADD  CONSTRAINT [FK_MovimientosInventario_Empleado] FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[MovimientosInventario] CHECK CONSTRAINT [FK_MovimientosInventario_Empleado]
GO
ALTER TABLE [dbo].[MovimientosInventario]  WITH CHECK ADD  CONSTRAINT [FK_MovimientosInventario_Producto] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[MovimientosInventario] CHECK CONSTRAINT [FK_MovimientosInventario_Producto]
GO
ALTER TABLE [dbo].[MovimientosInventario]  WITH CHECK ADD  CONSTRAINT [FK_MovimientosInventario_Sucursal] FOREIGN KEY([SucursalId])
REFERENCES [dbo].[Sucursales] ([Id])
GO
ALTER TABLE [dbo].[MovimientosInventario] CHECK CONSTRAINT [FK_MovimientosInventario_Sucursal]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Compra] FOREIGN KEY([CompraId])
REFERENCES [dbo].[Compras] ([Id])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Compra]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Empleado] FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Empleado]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Factura] FOREIGN KEY([FacturaId])
REFERENCES [dbo].[Facturas] ([Id])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Factura]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Gasto] FOREIGN KEY([GastoId])
REFERENCES [dbo].[Gastos] ([Id])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Gasto]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_MetodoPago] FOREIGN KEY([MetodoPagoId])
REFERENCES [dbo].[MetodosPago] ([Id])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_MetodoPago]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Cliente] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Cliente]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Presupuesto] FOREIGN KEY([PresupuestoId])
REFERENCES [dbo].[Presupuestos] ([Id])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Presupuesto]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Sucursal] FOREIGN KEY([SucursalId])
REFERENCES [dbo].[Sucursales] ([Id])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Sucursal]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Vendedor] FOREIGN KEY([VendedorId])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Vendedor]
GO
ALTER TABLE [dbo].[Presupuestos]  WITH CHECK ADD  CONSTRAINT [FK_Presupuestos_Cliente] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Presupuestos] CHECK CONSTRAINT [FK_Presupuestos_Cliente]
GO
ALTER TABLE [dbo].[Presupuestos]  WITH CHECK ADD  CONSTRAINT [FK_Presupuestos_Vendedor] FOREIGN KEY([VendedorId])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[Presupuestos] CHECK CONSTRAINT [FK_Presupuestos_Vendedor]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categoria] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[CategoriasProductos] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categoria]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Impuesto] FOREIGN KEY([ImpuestoId])
REFERENCES [dbo].[Impuestos] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Impuesto]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_ProveedorPrincipal] FOREIGN KEY([ProveedorPrincipalId])
REFERENCES [dbo].[Proveedores] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_ProveedorPrincipal]
GO
ALTER TABLE [dbo].[ReportesMensuales]  WITH CHECK ADD  CONSTRAINT [FK_ReportesMensuales_Sucursal] FOREIGN KEY([SucursalId])
REFERENCES [dbo].[Sucursales] ([Id])
GO
ALTER TABLE [dbo].[ReportesMensuales] CHECK CONSTRAINT [FK_ReportesMensuales_Sucursal]
GO
ALTER TABLE [dbo].[Servicios]  WITH CHECK ADD  CONSTRAINT [FK_Servicios_Impuesto] FOREIGN KEY([ImpuestoId])
REFERENCES [dbo].[Impuestos] ([Id])
GO
ALTER TABLE [dbo].[Servicios] CHECK CONSTRAINT [FK_Servicios_Impuesto]
GO
ALTER TABLE [dbo].[Sucursales]  WITH CHECK ADD  CONSTRAINT [FK_Sucursales_Departamento] FOREIGN KEY([DepartamentoId])
REFERENCES [dbo].[Departamentos] ([Id])
GO
ALTER TABLE [dbo].[Sucursales] CHECK CONSTRAINT [FK_Sucursales_Departamento]
GO
ALTER TABLE [dbo].[Sucursales]  WITH CHECK ADD  CONSTRAINT [FK_Sucursales_Gerente] FOREIGN KEY([GerenteId])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[Sucursales] CHECK CONSTRAINT [FK_Sucursales_Gerente]
GO
ALTER TABLE [dbo].[TiposGasto]  WITH CHECK ADD  CONSTRAINT [FK_TiposGasto_Departamento] FOREIGN KEY([DepartamentoId])
REFERENCES [dbo].[Departamentos] ([Id])
GO
ALTER TABLE [dbo].[TiposGasto] CHECK CONSTRAINT [FK_TiposGasto_Departamento]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Empleado] FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Empleado]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Cliente] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Cliente]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_MetodoPago] FOREIGN KEY([MetodoPagoId])
REFERENCES [dbo].[MetodosPago] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_MetodoPago]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Pedido] FOREIGN KEY([PedidoId])
REFERENCES [dbo].[Pedidos] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Pedido]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Vendedor] FOREIGN KEY([VendedorId])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Vendedor]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [CK_Clientes_TipoCliente] CHECK  (([TipoCliente]='Distribuidor' OR [TipoCliente]='Empresa' OR [TipoCliente]='Persona Física'))
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [CK_Clientes_TipoCliente]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [CK_Compras_Estado] CHECK  (([Estado]='Cancelada' OR [Estado]='Pagada' OR [Estado]='Recibida' OR [Estado]='Enviada' OR [Estado]='Confirmada' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [CK_Compras_Estado]
GO
ALTER TABLE [dbo].[DetallesCompra]  WITH CHECK ADD  CONSTRAINT [CK_DetallesCompra_CantidadPositiva] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetallesCompra] CHECK CONSTRAINT [CK_DetallesCompra_CantidadPositiva]
GO
ALTER TABLE [dbo].[DetallesCompra]  WITH CHECK ADD  CONSTRAINT [CK_DetallesCompra_DescuentoNoNegativo] CHECK  (([Descuento]>=(0)))
GO
ALTER TABLE [dbo].[DetallesCompra] CHECK CONSTRAINT [CK_DetallesCompra_DescuentoNoNegativo]
GO
ALTER TABLE [dbo].[DetallesFactura]  WITH CHECK ADD  CONSTRAINT [CK_DetallesFactura_CantidadPositiva] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetallesFactura] CHECK CONSTRAINT [CK_DetallesFactura_CantidadPositiva]
GO
ALTER TABLE [dbo].[DetallesFactura]  WITH CHECK ADD  CONSTRAINT [CK_DetallesFactura_DescuentoNoNegativo] CHECK  (([Descuento]>=(0)))
GO
ALTER TABLE [dbo].[DetallesFactura] CHECK CONSTRAINT [CK_DetallesFactura_DescuentoNoNegativo]
GO
ALTER TABLE [dbo].[DetallesFactura]  WITH CHECK ADD  CONSTRAINT [CK_DetallesFactura_ProductoOServicio] CHECK  (([ProductoId] IS NOT NULL AND [ServicioId] IS NULL OR [ProductoId] IS NULL AND [ServicioId] IS NOT NULL))
GO
ALTER TABLE [dbo].[DetallesFactura] CHECK CONSTRAINT [CK_DetallesFactura_ProductoOServicio]
GO
ALTER TABLE [dbo].[DetallesPedido]  WITH CHECK ADD  CONSTRAINT [CK_DetallesPedido_CantidadPositiva] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetallesPedido] CHECK CONSTRAINT [CK_DetallesPedido_CantidadPositiva]
GO
ALTER TABLE [dbo].[DetallesPedido]  WITH CHECK ADD  CONSTRAINT [CK_DetallesPedido_DescuentoNoNegativo] CHECK  (([Descuento]>=(0)))
GO
ALTER TABLE [dbo].[DetallesPedido] CHECK CONSTRAINT [CK_DetallesPedido_DescuentoNoNegativo]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [CK_Empleados_Genero] CHECK  (([Genero]='No especificado' OR [Genero]='Otro' OR [Genero]='Femenino' OR [Genero]='Masculino'))
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [CK_Empleados_Genero]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [CK_Facturas_Estado] CHECK  (([Estado]='Cancelado' OR [Estado]='Vencido' OR [Estado]='Pagado' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [CK_Facturas_Estado]
GO
ALTER TABLE [dbo].[Gastos]  WITH CHECK ADD  CONSTRAINT [CK_Gastos_Estado] CHECK  (([Estado]='Rechazado' OR [Estado]='Pagado' OR [Estado]='Aprobado' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Gastos] CHECK CONSTRAINT [CK_Gastos_Estado]
GO
ALTER TABLE [dbo].[Gastos]  WITH CHECK ADD  CONSTRAINT [CK_Gastos_MontoPositivo] CHECK  (([Monto]>(0)))
GO
ALTER TABLE [dbo].[Gastos] CHECK CONSTRAINT [CK_Gastos_MontoPositivo]
GO
ALTER TABLE [dbo].[MovimientosInventario]  WITH CHECK ADD  CONSTRAINT [CK_MovimientosInventario_Tipo] CHECK  (([Tipo]='PERDIDA' OR [Tipo]='TRANSFERENCIA' OR [Tipo]='DEVOLUCION' OR [Tipo]='AJUSTE' OR [Tipo]='VENTA' OR [Tipo]='COMPRA'))
GO
ALTER TABLE [dbo].[MovimientosInventario] CHECK CONSTRAINT [CK_MovimientosInventario_Tipo]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [CK_Pagos_MontoPositivo] CHECK  (([Monto]>(0)))
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [CK_Pagos_MontoPositivo]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [CK_Pagos_UnaReferencia] CHECK  (([FacturaId] IS NOT NULL AND [CompraId] IS NULL AND [GastoId] IS NULL OR [FacturaId] IS NULL AND [CompraId] IS NOT NULL AND [GastoId] IS NULL OR [FacturaId] IS NULL AND [CompraId] IS NULL AND [GastoId] IS NOT NULL))
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [CK_Pagos_UnaReferencia]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [CK_Pedidos_Estado] CHECK  (([Estado]='Cancelado' OR [Estado]='Entregado' OR [Estado]='Enviado' OR [Estado]='En Proceso' OR [Estado]='Confirmado' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [CK_Pedidos_Estado]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [CK_Productos_PreciosPositivos] CHECK  (([PrecioCosto]>(0) AND [PrecioVenta]>(0)))
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [CK_Productos_PreciosPositivos]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [CK_Productos_StockMinimoPositivo] CHECK  (([StockMinimo]>=(0)))
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [CK_Productos_StockMinimoPositivo]
GO
ALTER TABLE [dbo].[ReportesMensuales]  WITH CHECK ADD  CONSTRAINT [CK_ReportesMensuales_Anio] CHECK  (([Anio]>=(2000) AND [Anio]<=(2100)))
GO
ALTER TABLE [dbo].[ReportesMensuales] CHECK CONSTRAINT [CK_ReportesMensuales_Anio]
GO
ALTER TABLE [dbo].[ReportesMensuales]  WITH CHECK ADD  CONSTRAINT [CK_ReportesMensuales_Mes] CHECK  (([Mes]>=(1) AND [Mes]<=(12)))
GO
ALTER TABLE [dbo].[ReportesMensuales] CHECK CONSTRAINT [CK_ReportesMensuales_Mes]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [CK_Ventas_Estado] CHECK  (([Estado]='Cancelada' OR [Estado]='Anulada' OR [Estado]='Parcial' OR [Estado]='Completa'))
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [CK_Ventas_Estado]
GO
